.topbar {
  text-align: right;
  margin-right: 30px;
  margin-top: 15px;
}

.topbar-left {
  width: 400px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /*margin-left: 30px;*/
  margin-top: 15px;
}

.title-text {
  text-align: left;
  font-size: 30px;
  font-style: bolder;
}

.topbar-right {
  width: 400px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  /*margin-right: 30px;*/
  margin-top: 15px;
}

.logout {
  margin-top: 0px;
}

form {
  display: inline-block;
}

table th {
    width: auto !important;
}
h5 {
  display: inline-block;
}

h4 {
  display: inline-block;
  padding-right: 10px;
  margin-top: 10px;
}

a {
  color: #4cae4c;
}

a:hover {
  color: #5cb85c;
}

h2 {
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: left;
}

.form-container {
  text-align: center;
}

.add-form {
  width: 300px;
}

.input {
  width: 200px;
}
